<% if message.content %>
  <% if message.user_id == current_user.id %>
    <div class="my-msg" id="my-msg">
      <div class="my-msg-box" >
        <%= message.content %>
      </div>
    </div>
  <% else %>
    <span id="msg-avatar"><%= user_avatar(message.user,'40px' ) %></span>
    <div class="other-msg-box" id="other-msg-box" >
      <%= message.content %>
    </div><br>
  <% end %>
<% end %>
<%= render partial: 'form' ,locals: { message: @message} %>