<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @retweets.each do |retweet| %>
    <tr>
      <td><%= retweet.content%></td>
      <td><%= link_to 'Show', retweet %></td>
      <td><%= link_to 'Edit', edit_retweet_path(retweet) %></td>
      <td><%= link_to 'Destroy', retweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>