<%= form_with(model: Tweet) do |form| %>
  <div class="field">
    <%= form.text_area :content, placeholder: "What's happening?", class: "form-control"%>
  </div>

  <div class="actions" >
    <%= form.submit "Tweet", class:"btn btn-secondary" %>
  </div>
<% end %>
