
    <% @notifications.each do |notification| %>
      <%= button_to reply_path(notification.source.replyable_id),method: :get, class:'user-button' do %> <!--Helper -->
        <div id='name'>
          <span style="padding-left: 12px; padding-top: 12px; padding-bottom: 12px"><%= user_avatar(notification.sender,'35px' ) %></span><br>
          <span class= "link-dark name"><%= notification.sender.name%></span> followed you  <!--Helper -->
        </div>
      <% end %>

      <%# if notification.source_type == 'Relation' %>
        <%#= button_to user_path(notification.sender),method: :get, class:'user-button' do%>
<!--          <div id='name'>-->
<!--          </div>-->
          <%# end %>
      <%# elsif notification.source_type == 'Reply' %>
        <%#= button_to reply_path(notification.source.replyable_id),method: :get, class:'user-button' do %>
<!--            <div id='name'>-->
                <%#= user_avatar(notification.sender,'50px' ) %>
<!--                <span><span class= "link-dark name"><%#= notification.sender.name %></span>-->
<!--                  <span style="color:#536471 ">@<%#= notification.sender.username  %></span></span><br>-->
<!--                <p style="color: #536471">Replying to <span style="color: #0c63e4">@<%#= notification.sender.username  %></span></p><br>-->
<!--                  <p><%#=notification.source.content  %></p>-->
<!--              </div>-->
        <%# end %>
      <%# elsif notification.source_type == 'Tweet' %>
        <%#=button_to tweet_path(notification.source.source_id),method: :get, class:'user-button' do%>
<!--          <div id='name'>-->
<!--            <span style="padding-left: 12px; padding-top: 12px; padding-bottom: 12px"><%#= user_avatar(notification.sender,'35px' ) %></span><br>-->
<!--            <span class= "link-dark name"><%#=notification.sender.name%></span> Retweeted your Tweet <br>-->
<!--            <br><p style="color: #536471; padding-left: 12px"><%#=notification.source.source.content  %></p>-->
<!--          </div>-->
        <%# end %>
      <%# elsif notification.source_type == 'Like' %>
        <%#=button_to tweet_path(notification.source.likeable_id),method: :get, class:'user-button' do%>
<!--          <div id='name'>-->
<!--            <span style="padding-left: 12px; padding-top: 12px; padding-bottom: 12px"><%#= user_avatar(notification.sender,'35px' ) %></span><br>-->
<!--            <span class= "link-dark name"><%#=notification.sender.name%></span> liked your Tweet <br>-->
<!--            <br><p style="color: #536471; padding-left: 12px"><%#=notification.source.likeable.content  %></p>-->
<!--          </div>-->
        <%# end %>
      <%# end %>
    <% end %>
<br>
